
@font-face {
    font-family: "JosefinSans";
    src: url("../SRC/Font_Josefin/JosefinSans-Regular.ttf")
}

@font-face {
    font-family: "RobotoBlack";
    src: url("../SRC/Font_Roboto/Roboto-Black.ttf")
}

@font-face {
    font-family: "RobotoBold";
    src: url("../SRC/Font_Roboto/Roboto-Bold.ttf")
}


h1, h2, h3 {
    font-family: "RobotoBlack";
}

p, label {
    font-family: "JosefinSans";
}


* {
    margin: 0;
    padding: 0;
    
 }

 body{

    background-image: radial-gradient(circle, #979797, #8a8a8a, #7e7e7e, #727272, #666666, #5e5e5e, #575757, #4f4f4f, #494949, #444444, #3e3e3e, #393939);
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
 }


h2 {
    font-size: 30px;
    margin-bottom: 7%;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    font-size: 30px;
    margin-bottom: 7%;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    width: 20%;
    background-color: teal;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    justify-content:flex-start;
    padding: 10px;

    }

.regime {
    font-size: 20px ;
}

main {
    padding-bottom: 100px;
    display: flex;
    margin-left: 20%;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    width: 100vh;
    
}

#content {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
    
}

.result {
    width: 55%;
    background-color: rgb(202, 204, 198);
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    margin: 1em 0;
}



.mog{
    object-fit: cover;
    width: 68%;
    margin: 2em;
    border-radius: 2em;
}

.logo img{

    width: 150px;
    height: auto; 
    margin: 5px;
    padding: 5px;
}

#br{
    margin-top: 10em;
    padding-top: 10em;
    gap: 10em 0 0;
}


footer {
    position: absolute; 
    display: none;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

footer.visible {
    display: flex;
    opacity: 1;
}


.cards {
    background: teal;
    border-radius: 10px;
    width: 800vh;
    height: 20vh;
    overflow: auto;
    margin: 20px;
}


.card-container{
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 2em;
    
}

.card-description {
    color: black;
}

.restaurant-card{
    background-color: teal;
    display: flex;
    width: 110vh;
    flex-direction: column;
    border-radius: 2em;
    padding:2%;
    margin: 2%; 
    box-shadow: 10px 5px 5px rgb(43, 42, 42);
   
}
#restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .restaurant-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: whitesmoke;
  }

  .restaurant-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}


  .restaurant-card p:last-of-type {
    font-weight: bold;
    color: #ffff;
  }

