* {
    margin: 0;
    padding: 0;
 }
 
 body{

    background-image: radial-gradient(circle, #979797, #8a8a8a, #7e7e7e, #727272, #666666, #5e5e5e, #575757, #4f4f4f, #494949, #444444, #3e3e3e, #393939);
    align-items: center;
 }

.logo img{

    width: 150px;
    height: auto; 
    margin: 5px;
    padding: 5px;
}

.nav-bar {
    position: absolute;
    top: 0;  
    right: 0; 
    margin: 0; 
    padding: 0;  
}

.nav-bar img { 
margin: 0;
padding:0;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

img {
    background-repeat: no-repeat;
    width: 90%;
}


.img-container {
    margin: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.Takumi-lyon {
    width: 80%;
    border-radius: 3em;
}