* {
    background-image: linear-gradient(to right bottom, #d7adc7, #c8acc7, #baabc4, #afa9be, #a6a7b6, #a7a9b5, #a8abb4, #aaadb3, #b2b5ba, #bbbdc1, #c3c5c8, #cccdcf);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  